.cardWrapper{
    display: flex;
    justify-content: center;
}

.card{
    position: relative;
    display: flex;
    border: solid 0px #ccc;
    width: 600px;
    height: 150px;
    padding: 20px;
    margin: 20px;
    &, .glowWrapper{
        border-radius: 18px;
    }
}

.glowWrapper{
    /* permanent */
    z-index: -1;
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-color: rgba(256, 256, 256, 1);
}

.glow {
    position: absolute
}

#glowControl{
    display: flex;
    justify-content:space-evenly;
    width: 90vw;
    label{font-size: .8em; margin: 0 8px}
    color: #fff;

    .col{width: 30%}
    .row{
        margin: 20px;
        span{font-size: .8em;}
    }

    .glowswatch{
        display: flex;
        flex-wrap: wrap;
        div{
            width: 80px;
            height: 80px;
            
            margin: 8px;
            img{
                cursor: pointer;
                width: 60%;
                height: auto;
                border: solid 1px #888;
            }
        }
    }
}

.toggle {
    text-align: center;
}